on init
    
    # The flashing LED colors in recovery mode is kinda weird, so let's
    # just make it blue!
    # --- To be implemented ---
    # Find the LED device block and write to it to make it blue.
    
    # If anyone wants to attempt to implement the two things listed
    # above, go ahead.
